extends layout

block content

  section#sidebar

    div.search-container
      input.search
      div.button.do-search Search

    ul#logsessions

  section.console
    header
    div#log
      ul.messages

  script(type="text/template", id="logsession-item-view-template")
    | <div class='info'> 
    |   <h1> <%= userName %> </h1>
    |   <h2> <%= appName %> </h2>
    | </div>


  