extends layout

block content

  section#sidebar

    div.search-container
      input.search
      div.button.do-search Search

    ul#logsessions
      li.logSession
        div.userName
        div.appName

  section.console
    header
    div#log
      ul.messages


  